# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
*.sln
*.vcxproj
*.vcxproj.filters

#Folders
.settings/*
Debug/*
x64/*
Ginasio/.vs/*
Ginasio/x64/*
Ginasio/Ginasio/x64/*
Ginasio/Ginasio/.vs/*

\.vs/Ginásio/v15/

Ginásio/x64/Debug/

\.vs/Gym/v15/

Ginásio/\.vs/Ginásio/v15/
